<ion-content no-padding>
  <div id="produk" style="width: 100%;height: 100%;"></div>
  <div ion-fixed style="position: absolute;
  top: 1%;
  right: 1%;
  width: auto;
  height: auto;">

    <div id="more_options">
      <table style="border:0px solid black;">
        <tr>
          <td>
            <button ion-button icon-start color="primary-tint" round (click)="cabanglist($event)">
              <ion-icon name="pin"></ion-icon>
              &nbsp;{{cabang}}&nbsp;
            </button>&nbsp;
          </td>
          <td>
            <img (click)="menu($event)" src="assets/imgs/logo.png" width="50" height="50" style="border-bottom-left-radius: 50px;
                              border-top-left-radius: 50px;
                              border-bottom-right-radius: 50px;
                              border-top-right-radius: 50px;
                              border:3px solid #fff;
                              background-color: #fff;">
          </td>
        </tr>
      </table>

    </div>
  </div>

  <div ion-fixed id="legend" style="
    position: absolute;
    right:8px;
    bottom:5px;
    width: auto;
    height: auto;
    display: none;">
    <div id="more_options">
      <table style="border:0px solid black;">
        <tr>
          <td>
            <ion-card>

              <ion-item-group>
                <ion-list no-border>
                  <ion-item-divider color="light">
                    <table style="width: 100%;">
                      <tr>
                        <td>
                          <b>Product Mapping</b>
                        </td>
                        <td style="text-align: right;">
                          <ion-icon name="close-circle"></ion-icon>
                        </td>
                      </tr>
                    </table>
                  </ion-item-divider>
                </ion-list>
              </ion-item-group>

              <ion-card-content>
                <table style="border: 0px solid #222;width: 100%;">
                  <tr>
                    <td>
                      <b>Map Description</b>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 40%;">
                      PCode
                    </td>
                    <td style="width: 60%;">
                      : {{pcode}}
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 40%;">
                      Product Name
                    </td>
                    <td style="width: 60%;">
                      : {{product_name}}
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 40%;">
                      Branch
                    </td>
                    <td style="width: 60%;">
                      : {{cabang_name}}
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 40%;">
                      Scope
                    </td>
                    <td style="width: 60%;">
                      : {{total_outlets}} Outlets
                    </td>
                  </tr>
                </table>
                <p style="color:#ffffff">
                  <!-- Wait a minute. Wait a minute, Doc. <br> -->
                  Uhhh... Are you telling me that you built a time machine built a time machine...
                  <!-- out of a DeLorean?! Whoa. This is heavy. -->
                </p>
              </ion-card-content>

            </ion-card>
          </td>
        </tr>
      </table>
    </div>
  </div>

</ion-content>